<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link href="style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

  <title>Frontend Mentor | Todo app</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>

  <div id="app">
    <div>
      <div class="wrapper" :class="{moon: moon, sun: sun}">
        <div class="todo">
          <div class="box">
            <header class="header">
              <h1>TODO</h1>
              <span class="dark-mode" :class="{moon: moon, sun: sun}" @click.prevent="darkMode()"></span>
            </header>
            <section class="create">
              <input  v-model="newTodo" v-on:keyup.enter="addTodo()" type="text" class="input"
              :class="{moon: moon, sun: sun}" placeholder="Create a new todo">
              <input class="circle toggle-all" :class="{moon: moon, sun: sun}" type="checkbox" v-model="allDone">
            </section>
            <transition-group name="fade" tag="ul" class="list-group">
              <li v-for="todo in filteredTodos" v-bind:key="todo" class="list-group-item" :class="{completed: todo.completed, moon: moon, sun: sun}">
                <input class="circle" :class="{moon: moon, sun: sun}" type="checkbox" v-model="todo.completed">
                <label>{{ todo.name }}</label>
                <span class="destroy" @click.prevent="deleteTodo(todo)"></span>
              </li>
            </transition-group>
            <footer class="footer" :class="{moon: moon, sun: sun}" v-show="hasTodos">
              <span><strong>{{ remaining }}</strong> items left</span>
              <ul class="filters" :class="{moon: moon, sun: sun}">
                <li><a href="#" :class="{selected: filter === 'all', moon: moon, sun: sun}" @click.prevent="filter = 'all'">All</a></li>
                <li><a href="#" :class="{selected: filter === 'actives', moon: moon, sun: sun}" @click.prevent="filter = 'actives'">Actives</a></li>
                <li><a href="#" :class="{selected: filter === 'completed', moon: moon, sun: sun}" @click.prevent="filter = 'completed'">Completed</a></li>
              </ul>
              <a href="#" :class="{moon: moon, sun: sun}" @click.prevent="clearCompleted()">Clear completed</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="http://www.cyrilbron.com/">Cyril Bron</a>.
      </div>
    </div>
  </div>

  <script>
  var app = new Vue({
    el: '#app',
    data () {
      return {
        newTodo: '',
        todos: [],
        filter: 'all',
        moon: false,
        sun: true
      }
    },
    computed: {
      // selected all the todos as completed
      allDone: {
        get () {
          return this.remaining === 0
        },
        set (value) {
          this.todos.forEach(todo => {
            todo.completed = value
          })
        }
      },
      // count todos items left
      remaining () {
        return this.todos.filter(todo => !todo.completed).length
      },
      // filter all Actives Completed
      filteredTodos () {
        if (this.filter === 'actives') {
          return this.todos.filter(todo => !todo.completed)
        } else if (this.filter === 'completed') {
          return this.todos.filter(todo => todo.completed)
        }
        return this.todos
      },
      // display board only with todos
      hasTodos () {
        return this.todos.length > 0
      }
    },
    methods: {
      addTodo () {
        if (this.newTodo) {
          this.todos.push({
            name: this.newTodo,
            completed: false
          })
          this.newTodo = ''
        }
      },
      deleteTodo (todo) {
        this.todos = this.todos.filter(item => item !== todo)
      },
      clearCompleted () {
        this.todos = this.todos.filter(todo => !todo.completed)
      },
      darkMode () {
        if (this.moon === true) {
          this.moon = false
          this.sun = true
        } else {
          this.moon = true
          this.sun = false
        }
      }
    }
  })
  </script>
</body>
</html>
